/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700|Sansita+One);

:root {
    --font-color: white; /*WHITE*/
    --bg-color: #e7e7e7; /*GREY*/
    --color1: #003153; /*BLUE*/
    --color2: #e1ad01; /*YELLOW*/
    --color3: #9c0000; /*RED*/
    --heading-color: black; /*BLACK*/
}
 [data-theme="dark"] {
    --font-color: #7d7d7d;
    --bg-color: #717171;
    --color1:  #001829;
    --color2: #6e5500;
    --color3: #4c0000;
    --heading-color: #f2f2f2; 
}
/* HEADER*/
.header{
    color: var(--heading-color); /*BLACK*/
    text-align: center;
    border: none;
    margin: 0;
    padding-bottom: 30px;
}

/* BODY */
.body{
    margin: auto;
    width: 95%;
    background-color: var(--color1); /*BLUE*/
    color: var(--font-color);
    border:25px;
    border-color:transparent;
    border-style: solid;
    border-radius: 50px;
    text-align: center;
}

/* H1, H2, H3, H4 */
h1{
    color: var(--heading-color); /*BLACK*/
    font-size: 90px; 
    line-height: 1; 
    text-align: center;
    font-family: 'Garamond';
    margin: 0;
}

h2, h3{
    color: var(--font-color); /*WHITE*/
    font-family: 'Garamond', sans-serif;
    text-align: center;
}

p{
    color: var(--font-color); /*WHITE*/
    font-family: 'Garamond', sans-serif;
    text-align: justify;
}

h4{
    color: var(--heading-color); /*BLACK*/
    font-size: 45px; 
    font-family: 'Tangerine', cursive;
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 25px;
}

/* CHART */
.chart{
    padding: 20px;
    background-color: none;
}

/* BUTTONS */
#button{
    background-color: var(--bg-color); /*GREY*/
    border: none;
    border-radius: 10px;
    width: 20%;
    color: var(--heading-color); /*BLACK*/
    font-weight: bolder;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer; 
}

#button:hover{
    background-color: var(--heading-color); /*BLACK*/
    color: var(--bg-color); /*GREY*/
}

#button2{
    background-color: var(--color1); /*BLUE*/
    border: none;
    border-radius: 10px;
    width: 20%;
    color: var(--font-color); /*WHITE*/
    font-weight: bolder;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer; 
}

#button2:hover{
    background-color: var(--font-color); /*WHITE*/
    color: var(--color1); /*BLUE*/
}

#button3{
    background-color: var(--color2); /*YELLOW*/
    border: none;
    border-radius: 10px;
    width: 20%;
    color: var(--font-color); /*WHITE*/
    font-weight: bolder;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer; 
}

#button3:hover{
    background-color: var(--font-color); /*WHITE*/
    color: var(--color2); /*YELLOW*/
}

#button4{
    background-color: var(--color3);  /*RED*/
    border: none;
    border-radius: 10px;
    width: 20%;
    color: var(--font-color); /*WHITE*/
    font-weight: bolder;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer; 
}

#button4:hover{
    background-color: var(--font-color); /*WHITE*/
    color: var(--color3);  /*RED*/
}

/* STYLE HR */
hr.dotted{
    border: none;
    border-top: 7px dotted var(--font-color); /*WHITE*/
    width:100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* COLUMNS */
.doric{
    column-count: 4;
}

.ionic{
    column-count: 2;
}

/* DOTTED BOX */
.dotbox{
    border: 7px dotted;
    border-radius: 10px;
    border-color: var(--heading-color); /*BLACK*/ 
    width:90%;
    position: relative;
    padding-top: 100%;
    animation: border-pulsate 4s infinite;
}

/* PUSLING BORDERS */
@keyframes border-pulsate {
    0%   { border-color: #e7e7e7; } /*GREY*/
    50%  { border-color: var(--heading-color); } /*BLACK*/
    100% { border-color: #e7e7e7; } /*GREY*/
  }

/* ////////////////////////////////////  DARK MODE SWITCH //////////////////////////////////// */
 .theme-switch-wrapper {
         display: flex;
         align-items: center;
}
 .theme-switch-wrapper em {
         margin-left: 10px;
         font-size: 1rem;
}
 .theme-switch {
         display: inline-block;
         height: 34px;
         position: relative;
         width: 60px;
}
 .theme-switch input {
         display: none;
}
 .slider {
         background-color: #ccc;
         bottom: 0;
         cursor: pointer;
         left: 0;
         position: absolute;
         right: 0;
         top: 0;
         transition: 0.4s;
}
 .slider:before {
         background-color: #fff;
         bottom: 4px;
         content: "";
         height: 26px;
         left: 4px;
         position: absolute;
         transition: 0.4s;
         width: 26px;
}
 input:checked + .slider {
         background-color: #66bb6a;
}
 input:checked + .slider:before {
         transform: translateX(26px);
}
 .slider.round {
         border-radius: 34px;
}
 .slider.round:before {
         border-radius: 50%;
}
/* ////////////////////////////////////  DARK MODE SWITCH //////////////////////////////////// */
